* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1.5vw;
}

:root {
    --primaryColor: rgb(255, 0, 0);
}

body {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #3c3c3c;
}

section.main {
    width: 100%;
    height: auto;
    position: relative;
    background: url("./img/htmlLang.jpg") no-repeat;
    background-size: cover;
}

section.main > .content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
}

section.main::before {
    top: 0;
    content: "";
    width: 100%;
    height: .8em;
    position: absolute;
    background-color: var(--primaryColor);
}

section.main::after {
    bottom: 0;
    content: "";
    width: 100%;
    height: .5em;
    position: absolute;
    background-color: var(--primaryColor);
}

section.main > .content > .imgPerfil {
    width: 12vw;
    height: auto;
    margin: 2em 0em;
    overflow: hidden;
    border-radius: 100%;
    border: .7vmin solid var(--primaryColor);
}

section.main > .content > .imgPerfil > img {
    width: 100%;
    height: auto;
    transform: scale(1.2);
}

.perfil {
    color: #FFFFFF;
    width: 100%;
    height: auto;
}

.perfil > p {
    padding: 1rem 13rem;
}

.linguagensProgramacao {
    width: 100%;
    height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linguagensProgramacao > img {
    margin: 0em .4em;
}

@media  screen and (max-width: 700px) {
    .linguagensProgramacao {
        width: 50%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .linguagensProgramacao > img {
        width: 10vw;
        height: auto;
        margin: .3em 0em;
    }
}